#buttondiv{
	text-align:center;
    padding-top: 10px;
	padding-bottom: 20px;
}
button {
	width: 200px;
	height: 60px;
	border-radius: 15px;
	margin: 10px;
	background-color:white;
	border: 2px solid dodgerblue;
}
#microsoft{
	zoom:1.2;
}
#hero .button, #news .button {
	margin: 1em 0;
	font-size: 1.05em;
	font-weight: 600;
	letter-spacing: 0.1em;
	min-width: 8em;
	text-align: center;
}
a.button.has-icon, input.button.has-icon {
	position: relative;
	text-indent: 1.4em;
}
a.button.has-icon > svg, input.button.has-icon > svg {
	left: 2em;
	width: 2em;
}